.homepage{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    

}
.header{
    height:50px;
    max-width:1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:399px;
}
.header_left{
    align-items: center;
    gap:10px;
    width: auto;
    height: 50px;
    display:flex;
}
.header_left_title{
    width: 133px;
    height: 50px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    text-align: left;


}
.header_right{
    align-items: center;
    display: flex;
    width: auto;
    height: 25px;
    gap: 45px;
}
.right_items{
    font-size: 20px;
    font-weight: 400;
    font-family: Jost;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.image_banner{
    background: url("./assets/images/Image.svg");
    max-width: 1200px;
    min-height: 720px;
    border-radius: 70px;
    padding: 40px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-size: cover;
    

}
.inside_banner{
    width: 434px;
    height: 342px;

}
.heading_inside_banner1{
    width: 434px;
    height: 162px;
    font-family: DM Serif Display;
    font-size: 28px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    gap:20px;

}
.para_inside_banner1{
    margin-top: -35px;
    width: 433px;
    height: 66px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;

}



.button_inside_banner{
    margin-top: 29px;
    width: 243px;
    height: 75px;
    padding: 23px 0px 23px 36px;
    border-radius: 18px;
    gap: 10px;
    background-color: #292F36;
    color: white;
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    display: flex;
}
.arrow_class1{
    margin-top:3px;
   
}
.arrow_class2{
    margin-left: 3px;
    margin-top: -1px;
    height: 21px;
    width: 15px;
}

.project_interior_realization{
    max-width:1158px;
    height:auto;
    margin-top: 150px;
    margin-left: 150px; 
    gap: 42px;
    display: flex;
}
.description{
    height:225px;
    width:358px;
    gap: 52;
    text-align: center;
}
.project_plan_heading_and_desc{
    width: 358px;
    height:150px;
    gap: 20px;
    text-align: center;

}
.project_plan{
    margin-top: -36px;
    margin-left: 104px;
    width: 133px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0em;
    text-align: center;
   
}
.project_desc{
    width: 358px;
    height: 99px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}
.read_more_button{
    width: 130px;
    height: 23px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: white;
    border:0px;
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-top: 53px;

}
.image_banner_2{
    max-width: 1090px;
    height: auto;
    padding-top: 1421px;
    margin-left: auto;
    margin-right: auto;
    gap: 75px;
    display: flex;
    justify-content: end;

}
.image_banner_left{
    width: 472px;
    height: auto;
    gap: 45px;
    margin-top: -1300px;
    margin-left:-120px;
}
.content_inside{
    width:472px;
    height: 354px;
    gap: 33px;

}
.heading_inside_banner2{
    width: 434px;
    height: 154px;
    font-family: DM Serif Display;
    font-size: 23px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;

}
.para_inside_banner2{
    margin-top: 47px;
    width: 433px;
    height: 66px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;

}
.call_and_button{
    margin-top:42px;
    width: 277px;
    height: 215px;
    gap: 47px;

}
.call_part{
   
    width: 277;
    height: 93;
    gap: 15px;
    display: flex;

}
.logo_part{
    width: 93px;
    height: 93px;
    border-radius:50%;
    background-color:#F4F0EC;


}
.logoo{
    height:34px;
    width:34px;
    margin-top: 30px;
    margin-left:29px;
}
.number_main_part{
    width:169px;
    height: 64px;
    margin-top:14px
}
.number_part{
    margin-top: -30px;
    width: 141px;
    height: 33px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
}
.para_part{
    margin-top: -19px;
    width: 169px;
    height: 31px;
    font-family: Jost;
    font-size: 22px;    
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
}
.image_banner_right{
    max-width: 653px;
    height: auto;
    margin-top:-1297px;
    border-top-right-radius: 335px;
    border-bottom-left-radius: 126px;
    overflow: hidden;

}
.review{
    padding-bottom:50px;
    max-width: 1199px;
    height:auto;
    margin-top: -500px;
    margin-left: auto;
    margin-right: auto;
    border-radius:50px;
    background-color:#F4F0EC;

}
.reviews_division{
    max-width: 1150px;
    height: auto;
    margin-top: 86px;
    margin-left: 23px;
    gap: 38px;
    text-align: center;
}
.review_head{
    margin-top:76px;
    color:#292F36;
    max-width: 547px;
    height: 126px;
    display: inline-block;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.02em;
    text-align: center;
}
.comments{
    margin-top:35px;
    max-width: 1150px;
    height: auto;
    gap: 20px;
    display:flex;

}
.comment_one{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;

}
.comment_two{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;
}
.comment_three{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;

}
.pic_and_comment_one{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.picture_and_name_one{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_one{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_one{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_one{
    height:48px;
    width:195px;
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_one{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_one{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_one{
    height: 100px;
    width: 69px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_one{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;

}
.pic_and_comment_two{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.pic_and_comment_two{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;
}
.picture_and_name_two{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_two{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_two{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_two{
    height:48px;
    width:234px;
    font-family: Jost;
    font-size: 11px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_two{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_two{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_two{
    height: 100px;
    width: 69px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_two{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.pic_and_comment_three{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.pic_and_comment_three{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;
}
.picture_and_name_three{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_three{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_three{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_three{
    height:48px;
    width:234px;
    font-family: Jost;
    font-size: 11px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_three{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_three{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_three{
    height: 100px;
    width: 87px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_three{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.logos{
    max-width: 1090px;
    height: auto;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 108px;

}
.logo_one{
    width: 131.28289794921875px;
    height: 42.3668212890625px;
    margin-top:31px
}
.logo_two{
    width: 102.31986999511719px;
    height: 102.31986999511719px;
    

}
.logo_three{
    width: 163.3796844482422px;
    height: 42.776031494140625px;
    margin-top:31px
}
.logo_four{
    width: 144.70095825195312px;
    height: 44.06282424926758px;
    margin-top:31px

}
.logo_five{
    width: 116.7086181640625px;
    height: 47.16305923461914px;
    padding: 0px 8.344650268554688e-7px 0px 0px;
    margin-top:31px
}
.projects{
    max-width: 1202px;
    height:auto;
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    gap: 93px;
    text-align: center;

}
.project_head_and_para{
    max-width:737px;
    height:137px;
    gap: 8px;
    display: inline-block;
    text-align: center;
}
.project_head{
    width: 451px;
    height: 63px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 6px;
    letter-spacing: 0.02em;
    text-align: center;
    display: inline-block;
    color: #292F36;
}
.project_para{
    margin-top:-14;
    max-width: 737px;
    height: 85px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    color:#4D5053;

}
.images_inside{
    max-width: 1201px;
    height: 1311px;
    gap: 56px;
    margin-top: 91px;
    margin-left: -233px;

    
}
.upper_images{
    display: flex;
    max-width:1201px;
    height:619px;
    gap: 104px;
}
.lower_images{
    display: flex;
    margin-top:70px;
    max-width:1201px;
    height:619px;
    gap: 104px;
}
.upper_left_image{
    max-width:619px;
    height: 617px;
    gap: 24px;
    
}
.upper_right_image{
    
    max-width:619px;
    height: 617px;
    gap: 24px;

}
.lower_left_image{
    max-width:619px;
    height: 619px;
    gap: 24px;
}
.lower_right_image{
    max-width:619px;
    height: 619px;
    gap: 24px;

}
.left_image_banner{
    max-width: 548px;
    height: 525px;
    border-top-right-radius:80px;
    overflow: hidden;

}
.left_image_footer{
    margin-top:30px;
    max-width: 548px;
    height: 67px;
    gap: 260px;
    display: flex;

}
.left_heading_div{
    width: 217px;
    height: 66px;
    gap: 4px;
    

}
.main_heading_l{
    width: 184px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#292F36;
    

}
.sub_para_l{
    margin-top:-16px;
    width: 216px;
    height: 32px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
    

}
.right_logo_div{
    width: 66px;
    height: 66px;
    background-color: #F4F0EC;
    border-radius:50%;
    

}
.logo_division_l{
    width: 8px;
    height: 18px;
    margin-top: 24px;
    margin-left: 29px;
    border: 2px;

}
.right_image_banner{
    max-width: 548px;
    height: 525px;
    border-top-left-radius:80px;
    overflow: hidden;
}
.right_image_footer{
    margin-top:30px;
    max-width: 548px;
    height: 67px;
    gap: 260px; 
    display: flex;
}
.left_heading_div{
    width: 217px;
    height: 66px;
    gap: 4px;
    

}
.main_heading_r{
    width: 184px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#292F36;
    

}
.sub_para_r{
    margin-top:-16px;
    width: 216px;
    height: 32px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
    

}
.left_logo_div{
    width: 66px;
    height: 66px;
    background-color: #F4F0EC;
    border-radius:50%;
    

}
.logo_division_r{
    width: 8px;
    height: 18px;
    margin-top: 24px;
    margin-left: 29px;
    border: 2px;
}
.lower_left_image{
    max-width:619px;
    height: 617px;
    gap: 24px;

}
.lower_left_image_banner{
    max-width: 548px;
    height: 525px;
    border-bottom-right-radius:80px;
    overflow: hidden;
}
.lower_left_image_footer{
    margin-top:30px;
    max-width: 548px;
    height: 67px;
    gap: 260px;
    display: flex;
}
.lower_left_heading_div{
    width: 217px;
    height: 66px;
    gap: 4px;
}
.lower_main_heading_l{
    width: 184px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#292F36;
}
.lower_sub_para_l{
    margin-top:-16px;
    width: 216px;
    height: 32px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.lower_right_logo_div{
    width: 66px;
    height: 66px;
    background-color: #F4F0EC;
    border-radius:50%;
}
.lower_logo_division_l{
    width: 8px;
    height: 18px;
    margin-top: 24px;
    margin-left: 29px;
    border: 2px;

}



/*lower right division*/



.lower_right_image_banner{
    max-width: 548px;
    height: 525px;
    border-bottom-left-radius:80px;
    overflow: hidden;
}
.lower_right_image_footer{
    margin-top:30px;
    max-width: 548px;
    height: 67px;
    gap: 260px;
    display: flex;
}
.lower_right_heading_div{
    width: 217px;
    height: 66px;
    gap: 4px;
}
.lower_main_heading_r{
    width: 184px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#292F36;
}
.lower_sub_para_r{
    margin-top:-16px;
    width: 216px;
    height: 32px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.lower_rightmost_logo_div{
    width: 66px;
    height: 66px;
    background-color: #F4F0EC;
    border-radius:50%;
}
.lower_logo_division_r{
    width: 8px;
    height: 18px;
    margin-top: 24px;
    margin-left: 29px;
    border: 2px;
}
.history{
    width:100%;
    height: 457px;
    margin-top: 1500px;
    margin-left:auto;
    margin-right:auto;
    background-color: #F4F0EC;
    display: flex;
    justify-content: center;

}
.contents_of_history{
    max-width: 1082;
    height: auto;
    margin-top:142px;
    gap: 76px;
    display: flex;
    flex-wrap: wrap;
    
}
.cont_and_text_1{
    height: 135px;
    width: 200px;
    border-right: 2px solid #CDA274;
}
.cont_and_text_2{
    height: 135px;
    width: 200px;
    border-right: 2px solid #CDA274;
}
.cont_and_text_3{
    height: 135px;
    width: 200px;
    border-right: 2px solid #CDA274;
}
.first_content{
    width: 192px;
    height: 155px;
    gap: 16px;
    text-align: center;
}
.second_content{
    width: 192px;
    height: 155px;
    gap: 16px;
    text-align: center;
}
.third_content{
    width: 192px;
    height: 155px;
    gap: 16px;
    text-align: center;
}
.fourth_content{
    width: 192px;
    height: 155px;
    gap: 16px;
    text-align: center;
}


/*first content*/



.number_div_1{
    width: 77px;
    height: 106px;
    display: inline-block;
    color:#CDA274;
    text-align: center;
}
.twelve{
    height:60px;
    width:74px;
    display: inline-block;
    margin-top:30px;
}
.para_div_1{
    width: 164px;
    height: 33px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: center;
    display: inline-block;
}

/*second content*/


.number_div_2{
    margin-left:36px;
    width: 77px;
    height: 106px;
    display: inline-block;
    color:#CDA274;
    text-align: center;
}
.eighty_five{
    
    height:60px;
    width:74px;
    display: inline-block;
    margin-top:30px;
}
.para_div_2{
    width: 164px;
    height: 33px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: center;
    display: inline-block;
}


/*content three*/


.number_div_3{
    margin-left:43px;
    width: 77px;
    height: 106px;
    display: inline-block;
    color:#CDA274;
    text-align: center;
}
.fifteen{
    height:60px;
    width:74px;
    display: inline-block;
    margin-top:30px;
}
.para_div_3{
    width: 164px;
    height: 33px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: center;
}


/*fourth content*/



.number_div_4{
    margin-left:38px;
    width: 77px;
    height: 106px;
    display: inline-block;
    color:#CDA274;
    text-align: center;
}
.ninety_five{
    height:60px;
    width:74px;
    display: inline-block;
    margin-top:30px;
}
.para_div_4{
    width: 164px;
    height: 33px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    text-align: center;
}
.articles_and_news{
    max-width: 1200px;
    height: 714px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    gap: 52px;
    text-align:center

}
.head_and_news{
    height:200px;
    width:500px;
    text-align: center;
    display: inline-block;
}
.article_head{
    display: inline-block;
    width:811px;
    height: 141px;
    gap: 12px;
    text-align: center;

}
.image_division{
    margin-top:50px;
    width: 1200px;
    height: 521px;
    gap: 27px;
    display: flex;

}
.article_heading{
    width: 362px;
    height: 63px;
    display: inline-block;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 4px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#292F36;
}
.article_para{
    max-width: 811px;
    height: 77px;
    font-family: Jost;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    display: inline-block;
    color: #4D5053;



}
.first_image_div{
    width: 382px;
    height: 521px;
    border: 1px solid #E7E7E7;
    border-radius: 15%;
    text-align: center;
}
.second_image_div{
    width: 382px;
    height: 521px;
    border: 1px solid #E7E7E7;
    border-radius: 15%;
    background-color: #F4F0EC;

}
.third_image_div{
    width: 382px;
    height: 521px;
    border: 1px solid #E7E7E7;
    border-radius: 15%;
}

.image_divv_1{
    width: 340px;
    height: 289px;
    display: inline-block;
    margin-top:20px;
    overflow: hidden;
    background-image: url("./assets/images/article_first_image.svg");


}
.image_content_1{
    margin-left: 19px;
    width: 303px;
    height: 106px;
    font-family: DM Serif Display;
    font-size: 13px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;

}
.first_imagediv_footer{
    margin-left: 19px;
    width:362px;
    height: 52px;
    gap: 65px;
    display: flex;

}
.content_of_image_1{
    width: 206px;
    height: 51px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;

}
.inside_image_1{
    padding-top:1px;
    text-align: center;
    width: 129px;
    height: 41px;
    margin-top: 210px;
    margin-left: 23px;
    border-radius: 8px 8px 8px 0px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.only_arrow_1{
    width: 5px;
    height: 13px;
    margin-top: 17px;
    margin-left: 17px;
    border: 2px;
    color: #292F36;



}
.symbol_arrow_1{
    width: 52px;
    height: 52px;
    border-radius:50%;
    margin-left: 20px;
    color:#F4F0EC;
    text-align: center;
    background-color: #F4F0EC;

}
.para_in_1{
    margin-left: 6px;
    margin-top: -8px;
    width: 118px;
    height: 29px;
    top: 253px;
    left: 52px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color:#4D5053;

}

/*second image divv*/


.image_divv_2{
    width: 340px;
    height: 289px;
    display: inline-block;
    margin-top:20px;
    overflow: hidden;
    background-image: url("./assets/images/article_second_image.svg");


}
.image_content_2{
    margin-left: 19px;
    width: 303px;
    height: 106px;
    font-family: DM Serif Display;
    font-size: 13px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;

}
.second_imagediv_footer{
    margin-left: 19px;
    width:362px;
    height: 52px;
    gap: 65px;
    display: flex;

}
.content_of_image_2{
    width: 206px;
    height: 51px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;

}
.inside_image_2{
    padding-top:1px;
    text-align: center;
    width: 129px;
    height: 41px;
    margin-top: 210px;
    margin-left: 23px;
    border-radius: 8px 8px 8px 0px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.only_arrow_2{
    width: 5px;
    height: 13px;
    margin-top: 17px;
    margin-left: 17px;
    border: 2px;
    color: #292F36;



}
.symbol_arrow_2{
    width: 52px;
    height: 52px;
    border-radius:50%;
    margin-left: 20px;
    color:#F4F0EC;
    text-align: center;
    background-color: #FFFFFF;

}
.para_in_2{
    margin-left: 6px;
    margin-top: -8px;
    width: 118px;
    height: 29px;
    top: 253px;
    left: 52px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color:#4D5053;

}

/*third image divv*/


.image_divv_3{
    width: 340px;
    height: 289px;
    display: inline-block;
    margin-top:20px;
    overflow: hidden;
    background-image: url("./assets/images/article_third_image.svg");


}
.image_content_3{
    margin-left: 19px;
    width: 303px;
    height: 106px;
    font-family: DM Serif Display;
    font-size: 13px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #292F36;

}
.third_imagediv_footer{
    margin-left: 19px;
    width:362px;
    height: 52px;
    gap: 65px;
    display: flex;

}
.content_of_image_3{
    width: 206px;
    height: 51px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;

}
.inside_image_3{
    padding-top: 1px;
    text-align: center;
    width: 129px;
    height: 41px;
    margin-top: 210px;
    margin-left: 23px;
    border-radius: 8px 8px 8px 0px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.only_arrow_3{
    width: 5px;
    height: 13px;
    margin-top: 17px;
    margin-left: 17px;
    border: 2px;
    color: #292F36;



}
.symbol_arrow_3{
    width: 52px;
    height: 52px;
    border-radius:50%;
    margin-left: 20px;
    color:#F4F0EC;
    text-align: center;
    background-color: #F4F0EC;

}
.para_in_3{
    margin-left: 6px;
    margin-top: -8px;
    width: 118px;
    height: 29px;
    top: 253px;
    left: 52px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color:#4D5053;

}
.join_interno{
    max-width: 568px;
    height: 374px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 315px 80px 315px;
    border-radius: 70px;
    gap: 10px;
    background-color: #292F36;
    text-align: center;

}
.join_interno_content{
    display: inline-block;
    width: 569px;
    height: 247px;
    gap: 32px;
    margin-top: 55px

}
.heading_para_part{
    width: 569px;
    height:107px;
    gap: 11px;
    text-align: center;

}
.only_heading{
    width: 569px;
    height: 63px;
    font-family: DM Serif Display;
    font-size: 26px;
    font-weight: 400;
    line-height: 3px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
}
.para_only{    
    margin-top: -28px;
    width: 452px;
    height: 33px;
    color: #FFFFFF;
    font-family: Jost;
    font-size: 19px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    display: inline-block;


}
.button_portion{
   
    margin-top: 19px;
    width: 243px;
    height: 31px;
    padding: 25px 0px 24px 34px;
    border-radius: 18px;
    gap: 10px;
    background-color:#CDA274;
    color: white;
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
   
    display: inline-block
    
}
.button_name_and_arrow{
    width:163px;
    height: 23px;
    gap: 11px;
    margin-top: 4px;
    margin-left: 23px;
    display: flex;

}
.button_name{
    margin-top: -6;
    width: 137px;
    height: 23px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFFFFF;
}
.arrow_class2{
    margin-top: 2px;
    color:#292F36;
}
.and_arrow{
    width: 20px;
    height: 22px;
    border: 2px;
}
.arrow_class3{
    height: 14px;
    margin-left: -16px;
    margin-top: 4px;
    color: #292F36;
}
.final_div{
    max-width:1196px;
    height:auto;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    gap: 134px;

}
.final_contents{
    margin-left: 10px;
    max-width: 1195px;
    height: auto;
    gap: 101px;
    display: flex;


}
.left_contents{
    width:393px;
    height: 188px;
    gap: 31px;

}
.head_para_last{
    width: 393px;
    height:134px;
    gap: 18px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D5053;


}
.logos_final{
    margin-top: -27px;;
    width:225px;
    height:23px;
    gap: 54px;
    display: flex;

}
.middle_div{
    width:125px;
    height: 370px;
    gap: 9px;


}
.middle_head{
    width: 64px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 11px;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: left;
    color: #292F36;
}
.others{
    width: 125px;
    height: 323px;
    line-height: 57px;
    color: #4D5053;
    font-size: 21px;
}
.header_final{
    width: 177px;
    height: 50px;
    display: flex;

}
.final_header_logo{
    width: 33px;
    height: 34px;
    top: 8px;
    margin-top:7px;

}
.headinggg{
    margin-left:10px;
    margin-top: 13px;
    width: 133px;
    height: 50px;
    left: 44px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color:#292F36
}
.fb_logo{
    margin-top:2px;
    width: 12px;
    height: 22px;


}
.twitter_logo{
    margin-top:3px;
    width: 12px;
    height: 22px;


}
.linkdin_logo{
    margin-top:2px;
    width: 12px;
    height: 22px;


}
.insta_logo{
    margin-top:2px;
    width: 12px;
    height: 22px;


}
.third_div{
    width: 120px;
    height: 370px;
    gap: 9px;

}
.its_head{
    width: 64px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 11px;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: left;
    color: #292F36;

}
.its_others{
    width: 125px;
    height: 323px;
    line-height: 57px;
    color: #4D5053;
    font-size: 21px;
}
.fourth{
    width:258px;
    height: 272px;
    gap: 26px;

}
.this_head{
    width: 64px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 11px;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: left;
    color: #292F36;
}
.this_others{
    line-height: 33px;
    width: 251px;
    height: 224px;
    color: #4D5053;
    font-size: 21px;

}
.final_footer{
    max-width: 1195px;
    height: 73px;
    margin-top: 133px;
    text-align: center;
    
}
.last_contents{
    width: 752px;
    height: 33px;
    margin-top: 38px;
    margin-left: -3px;
    display: inline-block;
    font-family: Jost;
    font-size: 21px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.01em;
    color: #4D5053;
}



/* media queries*/


@media (max-width:768px){
  
    .header{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 20px;
    }
    .project_interior_realization{
        flex-direction: column;
    }
    .image_banner_2{
        margin-top: -1300px;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .image_banner_right{
        margin-top: auto;
    }
    .image_banner_left{
        margin-top: auto;
    }
    .comments{
        flex-direction: column;
        align-items:center;
    }
    .review{
        margin-top:130px;
        align-items: center;
        height:1352px;
    }
    .images_inside{
        margin-left:auto;
    }
    .projects{
        margin-top:100px;
    }
    .upper_images{
        align-items: center;
        flex-direction: column;
        gap:20px;
        
    }
    .lower_images{
        align-items: center;
        flex-direction: column;
        margin-top:679px;
        gap:20px;

    }
    .logos{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .articles_and_news{
        margin-top:100px;
        text-align: center;

    }
    .head_and_news{
        display: inline-block;
    }
    .image_division{
        margin-left: 177px;
        display: inline-block;
    }

    .history{
        margin-top: 2744px;
    }
    .contents_of_history{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 58px;
    }
    .cont_and_text_2{
        border: none;
    }
    .join_interno{
        margin-top:1169px;
    }
    .join_interno_content{
        margin-left: -219px;
        text-align: center;
    }
    .final_contents{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .left_contents{
        grid-column: auto;
    }
    .third_div{
        grid-column: 1;
    }
}   