.homepage{
    width: 1440px;
    height: 8025px;
    

}
.header{
    height:50px;
    width:1200px;
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:399px;
}
.header_left{
    align-items: center;
    gap:10px;
    width: 177px;
    height: 50px;
    display:flex;
}
.header_left_title{
    width: 133px;
    height: 50px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    text-align: left;


}
.header_right{
    align-items: center;
    display: flex;
    width: 624px;
    height: 25px;
    gap: 45px;
}
.right_items{
    font-size: 20px;
    font-weight: 400;
    font-family: Jost;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.image_banner{
    background: url("./assets/images/Image.svg");
    width: 1191px;
    height: 738px;
    margin-top: 157px;
    margin-left: 120px;
    padding-top: 20px;
    padding-left: 10px;

}
.inside_banner{
    width: 434px;
    height: 342px;
    margin-top: 200px;
    margin-left: 27px;

}
.heading_inside_banner1{
    width: 434px;
    height: 162px;
    font-family: DM Serif Display;
    font-size: 28px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;

}
.para_inside_banner1{
    margin-top: -35px;
    width: 433px;
    height: 66px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;

}



.button_inside_banner{
    margin-top: 45px;
    width: 243px;
    height: 75px;
    padding: 24px 17px 28px 26px;
    border-radius: 18px;
    gap: 10px;
    background-color: #292F36;
    color:white;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    display: flex;
}
.arrow_class1{
    margin-top: 2px;
   
}
.arrow_class2{
    margin-left: 3px;
    margin-top: -1px;
    height: 21px;
    width: 15px;
}

.project_interior_realization{
    width:1158px;
    height:225px;
    margin-top: 150px;
    margin-left: 132px; 
    gap: 42px;
    display: flex;
}
.description{
    height:225px;
    width:358px;
    gap: 52;
    text-align: center;
}
.project_plan_heading_and_desc{
    width: 358px;
    height:150px;
    gap: 20px;
    text-align: center;

}
.project_plan{
    margin-top: -36px;
    margin-left: 104px;
    width: 133px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0em;
    text-align: center;
   
}
.project_desc{
    width: 358px;
    height: 99px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}
.read_more_button{
    width: 130px;
    height: 23px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: white;
    border:0px;
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-top: 53px;

}
.image_banner_2{
    padding-left: 119px;
    width: 1091px;
    height: 700px;
    padding-top: 1421px;
    margin-left: 120px;
    gap: 75px;
    margin-top: 90px;
    display: flex;

}
.image_banner_left{
    width: 472px;
    height: 614px;
    gap: 45px;
    margin-top: -1300px;
    margin-left:-120px;
}
.content_inside{
    width:472px;
    height: 354px;
    gap: 33px;

}
.heading_inside_banner2{
    width: 434px;
    height: 154px;
    font-family: DM Serif Display;
    font-size: 23px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;

}
.para_inside_banner2{
    margin-top: 47px;
    width: 433px;
    height: 66px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;

}
.call_and_button{
    margin-top:42px;
    width: 277px;
    height: 215px;
    gap: 47px;

}
.call_part{
    width: 277;
    height: 93;
    gap: 15px;
    display: flex;

}
.logo_part{
    width: 93px;
    height: 93px;
    border-radius:50%;
    background-color:#F4F0EC;


}
.logoo{
    height:34px;
    width:34px;
    margin-top: 29px;
    margin-left: 29px;
}
.number_main_part{
    width:169px;
    height: 64px;
    margin-top:14px
}
.number_part{
    margin-top: -30px;
    width: 141px;
    height: 33px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
}
.para_part{
    margin-top: -19px;
    width: 169px;
    height: 31px;
    font-family: Jost;
    font-size: 22px;    
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
}
.image_banner_right{
    width: 653px;
    height: 700px;
    margin-top:-1297px;
    border-top-right-radius: 335px;
    border-bottom-left-radius: 126px;
    overflow: hidden;

}
.review{
    width: 1199px;
    height: 679px;
    margin-top: -1100;
    margin-left: 120px;
    border-radius:50px;
    background-color:#F4F0EC;

}
.reviews_division{
    width: 1150px;
    height: 503px;
    margin-top: 86px;
    margin-left: 23px;
    gap: 38px;
    text-align: center;
}
.review_head{
    margin-top:76px;
    color:#292F36;
    width: 547px;
    height: 126px;
    display: inline-block;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.02em;
    text-align: center;
}
.comments{
    margin-top:35px;
    width: 1150px;
    height: 339px;
    gap: 20px;
    display:flex;

}
.comment_one{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;

}
.comment_two{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;
}
.comment_three{
    width:370px;
    height: 339px;
    border-radius:50px;
    background-color: #FFFFFF;

}
.pic_and_comment_one{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.picture_and_name_one{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_one{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_one{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_one{
    height:48px;
    width:195px;
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_one{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_one{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_one{
    height: 100px;
    width: 69px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_one{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;

}
.pic_and_comment_two{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.pic_and_comment_two{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;
}
.picture_and_name_two{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_two{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_two{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_two{
    height:48px;
    width:234px;
    font-family: Jost;
    font-size: 11px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_two{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_two{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_two{
    height: 100px;
    width: 69px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_two{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.pic_and_comment_three{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;

}
.pic_and_comment_three{
    width: 296px;
    height:286px;
    margin-left:35px;
    margin-top:52px;
    gap: 25px;
}
.picture_and_name_three{
    width:257px;
    height: 77px;
    gap: 23px;
    display: flex;

}
.picture_division_three{
    width: 77px;
    height: 77px;
    border-radius:50%;
    overflow: hidden;

}
.name_and_place_division_three{
    width: 157px;
    height: 75px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;


}
.name_division_three{
    height:48px;
    width:234px;
    font-family: Jost;
    font-size: 11px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#292F36;

}
.city_and_country_three{
    margin-top:-16px;
    height:25px;
    width:195px;
    display: flex;
    color:#4D5053;
}
.city_division_three{
    height: 90px;
    width: 59px;
    margin-top: -28px;
    font-family: DM Serif Display;
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
}
.country_division_three{
    height: 100px;
    width: 87px;
    margin-top: -22px;
    margin-left: 19px;
    font-family: DM Serif Display;
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
}
.comment_section_three{
    margin-left: 35px;
    margin-top: -209px;
    width: 296px;
    height: 120px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color:#4D5053;
}
.logos{
    width: 1090px;
    height: 102.32px;
    margin-top: 200px;
    margin-left: 144px;
    gap: 108px;
    display: flex;

}
.logo_one{
    width: 131.28289794921875px;
    height: 42.3668212890625px;
    margin-top:31px
}
.logo_two{
    width: 102.31986999511719px;
    height: 102.31986999511719px;
    

}
.logo_three{
    width: 163.3796844482422px;
    height: 42.776031494140625px;
    margin-top:31px
}
.logo_four{
    width: 144.70095825195312px;
    height: 44.06282424926758px;
    margin-top:31px

}
.logo_five{
    width: 116.7086181640625px;
    height: 47.16305923461914px;
    padding: 0px 8.344650268554688e-7px 0px 0px;
    margin-top:31px
}