.homepage{
    width: 1440px;
    height: 8025px;
    

}
.header{
    height:50px;
    width:1200px;
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:399px;
}
.header_left{
    align-items: center;
    gap:10px;
    width: 177px;
    height: 50px;
    display:flex;
}
.header_left_title{
    width: 133px;
    height: 50px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    text-align: left;


}
.header_right{
    align-items: center;
    display: flex;
    width: 624px;
    height: 25px;
    gap: 45px;
}
.right_items{
    font-size: 20px;
    font-weight: 400;
    font-family: Jost;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.image_banner{
    background: url("./assets/images/Image.svg");
    width: 1191px;
    height: 738px;
    margin-top: 157px;
    margin-left: 120px;
    padding-top: 20px;
    padding-left: 10px;

}
.inside_banner{
    width: 434px;
    height: 342px;
    margin-top: 200px;
    margin-left: 27px;

}
.heading_inside_banner{
    width: 434px;
    height: 162px;
    font-family: DM Serif Display;
    font-size: 28px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;

}
.para_inside_banner{
    margin-top: -35px;
    width: 433px;
    height: 66px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;

}



.button_inside_banner{
    margin-top:15px;
    width: 220px;
    height: 75px;
    padding: 22px 27px 26px 43px;
    border-radius: 18px;
    gap: 10px;
    background-color: #292F36;
    color:white;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    display: flex;
}
.arrow_class1{
    margin-top: 2px;
   
}
.arrow_class2{
    margin-left: 3px;
    margin-top: -1px;
    height: 21px;
    width: 15px;
}

.project_interior_realization{
    width:1158px;
    height:225px;
    margin-top: 450px;
    margin-left: -11px;
    gap: 42px;
    display: flex;
}
.description{
    height:225px;
    width:358px;
    gap: 52;
    text-align: center;
}
.project_plan_heading_and_desc{
    width: 358px;
    height:150px;
    gap: 20px;
    text-align: center;

}
.project_plan{
    margin-top: -36px;
    margin-left: 104px;
    width: 133px;
    height: 31px;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0em;
    text-align: center;
   
}
.project_desc{
    width: 358px;
    height: 99px;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}
.read_more_button{
    width: 130px;
    height: 23px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: white;
    border:0px;
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-top: 53px;

}